<footer style="background-color: #5e889b; width: 100vw; margin: 0; color: white;">
  <div style="max-width: 1200px; margin: 0 auto; padding: 10px; text-align: center;">
    <p style="font-size: 16px;">&copy; 2025 Project Cairo Urban News. All rights reserved.</p>
  </div>
</footer>

