<nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="light">
  <div class="container-fluid d-flex align-items-center">
    <!-- Left-side Navigation Links -->
    <ul class="navbar-nav d-flex flex-row me-3">
      <li class="nav-item me-3">
        <a class="nav-link active" href="/en/">Home</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="/en/timeline/">Timeline</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="#">Indexes</a>
      </li>
    </ul>

    <!-- Centered Logo -->
    <a class="navbar-brand" href="/">
      <svg class="bi me-3 mb-2" width="100" viewBox="0 0 150 100"><use xlink:href="#wm_logo"/></svg>
    </a>

    <!-- Right-side Navigation Links -->
    <ul class="navbar-nav d-flex flex-row ms-3">
      <li class="nav-item me-3">
        <a class="nav-link" href="/en/historyWM/">Publication History</a>
      </li>
      <li class="nav-item me-3">
        <a class="nav-link" href="/en/WMOnlineEN/">WM Online</a>
      </li>
      <li class="nav-item dropdown me-3">
        <a class="nav-link dropdown-toggle" href="#" id="aboutMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="aboutMenu">
          <a class="dropdown-item" href="/en/about/history/">History of the Project</a>
          <a class="dropdown-item" href="/en/about/team/">Team</a>
          <a class="dropdown-item" href="/en/about/sponsors/">Sponsors</a>
          <a class="dropdown-item" href="/en/about/technical-description/">Technical Description</a>
          <a class="dropdown-item" href="/en/about/credits/">Credits/Copyright</a>
          <a class="dropdown-item" href="/en/about/refer">How to Refer to This Website/Dataset</a>
          <a class="dropdown-item" href="/en/about/bibliography/">Bibliography</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
