<nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="light" dir="rtl" style="background-image: url('image/GallicaCairoMap.jpeg'); background-size: cover; background-position: top center; height: 60px;">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="/">
      <svg class="bi me-2" width="100" viewBox="0 0 150 100"><use xlink:href="#wm_logo"/></svg>
      <span class="h1">أخبار القاهرة</span>
    </a>
    <ul class="navbar-nav d-flex w-100 justify-content-start">
      <li class="nav-item">
        <a class="nav-link active" href="/ar/">الرئيسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ar/timeline/">الخط الزمني</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">الفهارس</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ar/historyWMar/">تاريخ الوقائع المصرية، ١٨٢٨-١٩١٤</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/ar/WMOnlineAR/">الوقائع المصرية في الانترنت</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="aboutMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            عن المشروع
          </a>
          <div class="dropdown-menu" aria-labelledby="aboutMenu">
            <a class="dropdown-item" href="/ar/about/history/">تاريخ المشروع</a>
            <a class="dropdown-item" href="/ar/about/team/">فريق العمل</a>
            <a class="dropdown-item" href="/ar/about/sponsors/">الرعاة</a>
            <a class="dropdown-item" href="/ar/about/technical-description/">الوصف الفني</a>
            <a class="dropdown-item" href="/ar/about/credits/">حقوق النشر/تحرير الموقع</a>
            <a class="dropdown-item" href="/ar/about/refer">كيف تشير إلى الموقع/المعلومات</a>
            <a class="dropdown-item" href="/ar/about/bibliography/">المصادر</a>
          </div>
      </li>
    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="البحث" aria-label="Search"/>
        <button class="btn btn-outline-light" type="submit">البحث</button>
      </form>
  </div>
</nav>
