@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

main[dir="rtl"] {
  text-align: right;
  --bs-body-text-align: right;
}
div.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  direction: rtl;
  margin: auto;
  width: 80vw;
}
div.columns h2#arabic {
  grid-column: 1;
  grid-row: 1;
}
div.columns ul#arabic_files {
  grid-column: 1;
  grid-row: 2;
}
div.columns h2#ottoman {
  grid-column: 2;
  grid-row: 1;
}
div.columns ul#ottoman_files {
  grid-column: 2;
  grid-row: 2;
}
li {
  list-style: none;
}
span.tag {
  background-color: silver;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 2px;

}
span.start {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
span.end {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
table {
  border: thin solid black;
}
td,th {
  border: thin solid silver;
  padding: .25em;
}

table.summary {
  margin: auto;
}

table.summary th, table.summary td {
  border: thin solid silver;
  padding: 1em;
}

table.summary ul {
  margin: 0;}

/* TEI elements */
tei-date[when] {
  display: block;  /* Make sure each element appears on a new line */
  font-size: 16px;
  vertical-align: middle; /* Align both elements vertically */
  text-align: left;  /* Align 'when' element to the left */
}

tei-date[when-custom] {
  display: block;  /* Make sure each element appears on a new line */
  font-size: 16px;
  vertical-align: middle; /* Align both elements vertically */
  text-align: right;  /* Align 'when-custom' element to the right */
}

tei-date[when] + tei-date[when-custom]::before {
  content: "•";  /* Unicode character for a dot */
  margin: 0 8px;  /* Space out the dot from the surrounding elements */
  color: #333;  /* Set the color of the dot (can adjust this if you need a lighter or darker shade) */
}

tei-choice tei-sic {
  display: none;
}
tei-choice tei-corr {
  border-bottom: thin dotted black;
}
tei-div {
  display: block;
}
tei-div > a {
  color: black;
  text-decoration: none;
  padding-top: 30px;
}
tei-head {
  display: block;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
tei-text>tei-div>tei-head:last-of-type::after {
  content: url("/assets/images/border.svg");
}
.tei-when {
    position: absolute;
    left: 20px; /* Move 20px to the inside from the left */
    top: calc(50% + 20px); /* Move 20px down from the vertical center */
    transform: translateY(-50%); /* Vertically center and then apply the 20px offset */
}
.tei-when-custom {
    position: absolute;
    right: 20px; /* Move 20px to the inside from the right */
    top: calc(50% + 20px); /* Move 20px down from the vertical center */
    transform: translateY(-50%); /* Vertically center and then apply the 20px offset */
}
tei-hi[rend=italics] {
  font-style: italic;
}
tei-lb:before {
  white-space: pre;
  content: "\A";
}
tei-list[type=simple] {
  list-style-type: none;
}
tei-list[type=simple]>tei-item {
  display: list-item;
}
tei-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
tei-persname[ref] {
  text-decoration: underline;
}
tei-rolename[ref] {
  text-decoration: underline;
}
tei-text {
  display: block;
  margin: auto;
  width: 60vw;
  font-size: 17pt;
  padding-bottom: 30px; 
  line-height: 2.0;
} 
*[lang=ar] {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
*[lang=ar],*[lang=ota] {
  direction: rtl;
} 
*[lang=en] {
  direction: ltr;
  text-align: left;
}
tei-standoff {
  display: none
}
