---
title: Digital Cairo
layout: page_ar.njk
---
<div class="container">
  <div ;>
    <p style="font-size: 20px; font-family: 'Noto Sans Arabic', sans-serif; text-align: center; font-weight: 400;"> البحث حسب السنة الهجرية بين ١٢٤٤ و١٢٩٩ (١٨٢٨-١٨٨٢) باللغتين العربية والتركية العثمانية في مقالات معينة</p>
  </div>
</div>
  <div class="wrapper">
    {% set years = collections.year_en | getYears %}
    {% for year in years %}
      {% set col = year.substr(3, 1) %}
      {% set row = year.substr(1, 2) %}
      <div class="col{{col}} row{{row}}">
        <h2 class="h4">{{year | toArabicNumerals }}</h2>
        <ul class="list-unstyled">
          {% for page in collections.years_ar | pagesByYear(year) %}
            {% if page.url != false %}
            <li>
              <seg><a href="{{page.url}}">{{page.data.title | toArabicNumerals}}</a></seg> 
              <seg class="text-body-secondary"><em>{{page.data.doc_lang}}</em></seg>
            </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    {% endfor %}    
  </div>  
</div>
