---
layout: views_ar.njk
pagination:
  data: manifest_years
  size: 1
  alias: views
permalink: "/ar/view/{{ views.year }}/"
eleventyComputed:
  title: "{{ views.year }}"
  date: "{{ views.year }}"
---
{% set previous = manifest_years | getPreviousView(title, "year") %}
{% set next = manifest_years | getNextView(title, "year") %}
<div class="row navigation-buttons-container">
    <div class="col fs-5 text-center">
      {% if previous %}
        <a href="../{{ previous }}" class="link-primary link-opacity-75 link-opacity-100-hover previous-button">Previous</a>
      {% endif %}
    </div>
    <div class="col text-center fs-5">
        <a href="/ar/WMOnline" class="link-primary link-opacity-75 link-opacity-100-hover year-button">Return to WM Online</a>
    </div>
    <div class="col fs-5 text-center">
      {% if next %}
        <a href="../{{ next }}" class="link-primary link-opacity-75 link-opacity-100-hover next-button">Next</a>
      {% endif %}
    </div>
</div>
<div class="container">
  <h1 style="text-align: center;" lang="en">{{ title }}</h1>
  <div class="row justify-content-md-center">
    <div class="col col-8 mt-4">
      <table class="summary">
        <tr>
          <th lang="ar">محرم</th>
          <th lang="en">Muḥarram</th>
          <td class="month_1">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 1) %}
                <li class="month_1">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">صفر</th>
          <th lang="en">Ṣafar</th>
          <td class="month_2">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 2) %}
                <li class="month_2">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">ربيع الاول</th>
          <th lang="en">Rabī‘ al-Awwal</th>
          <td class="month_3">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 3) %}
                <li class="month_3">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">ربيع الثاني</th>
          <th lang="en">Rabī‘ al-Thānī</th>
          <td class="month_4">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 4) %}
                <li class="month_4">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">جمادى الاولى</th>
          <th lang="en">Jumādā al-Ūlā</th>
          <td class="month_5">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 5) %}
                <li class="month_5">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">جمادى الآخر</th>
          <th lang="en">Jumādá al-Ākhir</th>
          <td class="month_6">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 6) %}
                <li class="month_6">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">رجب</th>
          <th lang="en">Rajab</th>
          <td class="month_7">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 7) %}
                <li class="month_7">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">شعبان</th>
          <th lang="en">Sha‘bān</th>
          <td class="month_8">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 8) %}
                <li class="month_8">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">رمضان</th>
          <th lang="en">Ramaḍān</th>
          <td class="month_9">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 9) %}
                <li class="month_9">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">شوال</th>
          <th lang="en">Shawwāl</th>
          <td class="month_10">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 10) %}
                <li class="month_10">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">ذو القعدة</th>
          <th lang="en">Dhū al-Qa‘dah</th>
          <td class="month_11">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 11) %}
                <li class="month_11">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <th lang="ar">ذو الحجة</th>
          <th lang="en">Dhū al-Ḥijjah</th>
          <td class="month_12">
            <ul>
              {% for view in manifests | manifestsByYearAndMonth(views.year, 12) %}
                <li class="month_12">
                  <a href="../{{ view.Hijri_Date }}/">{{ view.Hijri_Date }}</a><br>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
