<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doc_styles.css">
    <title>{{ title }}</title>
    <style>
    nav {
    margin-bottom: 0px;
    }
    </style>
  </head>
  <body>
    {% include 'navbar_ar.njk' %}
    <main dir="rtl">
      {% set previous = collections.page_ar_ar_sorted | getPreviousCollectionItem(page) %}
      {% set next = collections.page_ar_ar_sorted | getNextCollectionItem(page) %}

      <div class="row navigation-buttons-container">
          <div class="col fs-5 text-center">
            {% if previous %}
              <a href="{{ previous.url }}" class="link-primary link-opacity-75 link-opacity-100-hover previous-button">السابق</a>
            {% endif %}
          </div>
          <div class="col text-center fs-5">
              <a href="{{ parent }}" class="link-primary link-opacity-75 link-opacity-100-hover year-button">{{ date | toArabicNumerals }}</a>
          </div>
          <div class="col fs-5 text-center">
            {% if next %}
              <a href="{{ next.url }}" class="link-primary link-opacity-75 link-opacity-100-hover next-button">التالي</a>
            {% endif %}
          </div>
        </div>

      <div class="container button-container">
        <img src="/images/vaseheadernoborder.svg" alt="Vase Header No Border" class="wmheader">
        {{ content | safe }}
      </div>
    </main>
    {% include 'wm_logo.html' %}
    <script src="/js/main.js"></script>
    <script src="/js/doc.js"></script>
    <script>
      const c = new CETEI();
      c.addBehaviors(doc_behaviors);
      c.processPage();
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
      if (window.location.hash) {
        const element = document.getElementById(window.location.hash.substring(1));
        if (element) {
          element.set
          element.style.setProperty("background-color", "#3CCFE865");
        }
      }
    </script>
  </body>
</html>
