<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/summary_styles.css">
    <title>{{ title }}</title>
    <script src="/js/main.js"></script>
    <script src="/js/doc.js"></script>
  </head>
  <body>
    {% include 'navbar_ar.njk' %}
    {% set previous = collections.years_ar | getPreviousCollectionItem(page) %}
      {% set next = collections.years_ar | getNextCollectionItem(page) %}
        <div class="row navigation-buttons-container">
          <div class="col fs-5 text-center">
            {% if previous %}
              <a href="{{ previous.url }}" class="link-primary link-opacity-75 link-opacity-100-hover previous-button">التالي</a>
            {% endif %}
          </div>
          <div class="col text-center fs-5">
              <a href="/ar/timeline" class="link-primary link-opacity-75 link-opacity-100-hover year-button">العودة الى الخط الزمني</a>
          </div>
          <div class="col fs-5 text-center">
            {% if next %}
              <a href="{{ next.url }}" class="link-primary link-opacity-75 link-opacity-100-hover next-button">السابق</a>
            {% endif %}
          </div>
        </div>
    <main dir="rtl">
      <div class="container">
        <h1 style="text-align:center;" lang="ar">{{ title | toArabicNumerals}}</h1>
        <div class="row justify-content-md-center">
          <div class="col col-8 mt-4">
            <table class="summary">
              <tr>
                <th lang="ar">محرم</th>
                <td class="month_1" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">صفر</th>
                <td class="month_2" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">ربيع الأول</th>
                <td class="month_3" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">ربيع الثاني</th>
                <td class="month_4" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">جمادى الاولى</th>
                <td class="month_5" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">جمادى الأخرى</th>
                <td class="month_6" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">رجب</th>
                <td class="month_7" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">شعبان</th>
                <td class="month_8" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">رمضان</th>
                <td class="month_9" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">شوال</th>
                <td class="month_10" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">ذو القعدة</th>
                <td class="month_11" lang="en"></td>
              </tr>
              <tr>
                <th lang="ar">ذو الحجة</th>
                <td class="month_12" lang="en"></td>
              </tr>
            </table>
            <div hidden lang="en">
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'wm_logo.html' %}
    {% include 'footer_ar.njk' %}
    <script>
        const c = new CETEI();
        c.addBehaviors(summary_behaviors);
        c.processPage();
        for (let i = 1; i <= 12; i++) {
          const monthCell = document.querySelector(`td.month_${i}`);
          const list = document.createElement('ul');
          let found = false;
          for (let month of Array.from(document.querySelectorAll(`li.month_${i}`))) {
            list.appendChild(month.cloneNode(true));
            found = true;
          }
          if (found) {
            monthCell.appendChild(list);
          } else {
            monthCell.textContent = '—';
            monthCell.parentElement.style = 'color: gray;';
          }
        }
    </script>
  </body>
</html>
