<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/doc_styles.css">
    <title>{{ title }}</title>
    <script src="/js/main.js"></script>
    <script src="/js/doc.js"></script>
  </head>
  <body>
    {% include 'navbar_en.njk' %}
    <main>
      {% set previous = collections.years_en | getPreviousCollectionItem(page) %}
      {% set next = collections.years_en | getNextCollectionItem(page) %}
      <div class="container">
        <div class="row">
          <div class="col text-end fs-5">
            {% if previous %}
              <a href="{{ previous.url }}" class="link-primary link-opacity-75 link-opacity-100-hover">Previous</a>
            {% endif %}
          </div>
          <div class="col fs-5">
            {% if next %}
              <a href="{{ next.url }}" class="link-primary link-opacity-75 link-opacity-100-hover">Next</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="container">
        <h1 style="text-align: center;">{{ title }}</h1>
        <div class="row justify-content-md-center">
          <div class="col col-8 mt-4">
            <table class="summary">
              <tr>
                <th>محرم / Muḥarram</th>
                <td class="month_1"></td>
              </tr>
              <tr>
                <th>صفر / Ṣafar</th>
                <td class="month_2"></td>
              </tr>
              <tr>
                <th>ربيع الاول / Rabī‘ al-Awwal</th>
                <td class="month_3"></td>
              </tr>
              <tr>
                <th>ربيع الثاني / Rabī‘ al-Thānī</th>
                <td class="month_4"></td>
              </tr>
              <tr>
                <th>جمادى الاولى / Jumādā al-Ūlā</th>
                <td class="month_5"></td>
              </tr>
              <tr>
                <th>جمادى االآخر / Jumādá al-Ākhir</th>
                <td class="month_6"></td>
              </tr>
              <tr>
                <th>رجب / Rajab</th>
                <td class="month_7"></td>
              </tr>
              <tr>
                <th>شَعْبَان / Sha‘bān</th>
                <td class="month_8"></td>
              </tr>
              <tr>
                <th>رمضان / Ramaḍān</th>
                <td class="month_9"></td>
              </tr>
              <tr>
                <th>شوال / Shawwāl</th>
                <td class="month_10"></td>
              </tr>
              <tr>
                <th>ذو القعدة / Dhū al-Qa‘dah</th>
                <td class="month_11"></td>
              </tr>
              <tr>
                <th>ذو الحجة / Dhū al-Ḥijjah</th>
                <td class="month_12"></td>
              </tr>
            </table>
            <div hidden>
              {{ content | safe }}
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'wm_logo.html' %}
    <script>
        const c = new CETEI();
        c.addBehaviors(summary_behaviors);
        c.processPage();
        for (let i = 1; i <= 12; i++) {
          const monthCell = document.querySelector(`td.month_${i}`);
          const list = document.createElement('ul');
          let found = false;
          for (let month of Array.from(document.querySelectorAll(`li.month_${i}`))) {
            list.appendChild(month.cloneNode(true));
            found = true;
          }
          if (found) {
            monthCell.appendChild(list);
          } else {
            monthCell.textContent = '—';
            monthCell.parentElement.style = 'color: gray;';
          }
        }
    </script>
  </body>
</html>
