---
permalink: /js/lunr.js
---
{% include "../../../node_modules/lunr/lunr.min.js" %}
{% include "../../../node_modules/lunr-languages/lunr.stemmer.support.js" %}
{% include "../../../node_modules/lunr-languages/lunr.ar.js" %}
{% include "../../../node_modules/lunr-languages/lunr.multi.js" %}