---
title: Digital Cairo
layout: page_en.njk
---
<div class="container">
  <div style="text-align: center;">
        <img src="/images/vaseheadernoborder.svg" alt="Vase Header No Border" class="wmheader" style="height: 150px; width: auto; margin-bottom: 20px;">
  </div>
  <div style="text-align: center; margin-bottom: 30px;">
    <p class="under-image-text">Search articles by Hijri year and language.</p>
  </div>

<div class="wrapper">
    {% set years = collections.year_en | getYears %}
    {% for year in years %}
      {% set col = year.substr(3, 1) %}
      {% set row = year.substr(1, 2) %}
      <div class="col{{col}} row{{row}}">
        <h2 class="h4">{{year}}</h2>
        <ul class="list-unstyled">
          {% for page in collections.years_en | pagesByYear(year) %}
            {% if page.url != false %}
            <li>
              <seg><a href="{{page.url}}">{{page.data.title}}</a></seg> 
              <seg class="text-body-secondary"><em>{{page.data.doc_lang}}</em></seg>
            </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
    {% endfor %}    
  </div>  
</div>
